body {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  background: #eef3f9;
  color: #222;
}

video, canvas {
  width: 320px;
  height: 240px;
  margin-top: 15px;
  border-radius: 12px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

#resultado {
  font-size: 1.3em;
  font-weight: bold;
  margin-top: 20px;
}
